/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
@keyframes arrow {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(4px);
    }
  }
  .heart {
    transform-origin: center;
  }
  .around {
    fill: var(--color-text);
    transition: fill 0.1s linear;
  }
  .main {
    fill: var(--bg-color);
    transition: fill 0.3s linear;
  }
  .core {
    fill: var(--bg-color);
    transition: fill 0.3s linear 0.03s;
  }
  .sparks {
    opacity: 0;
  }
  .icon_like:active .core {
    transition: fill 0.3s linear;
    fill: var(--color-like);
  }
  .icon_like:active .main {
    transition: fill 0.3s linear 0.05s;
    fill: var(--color-like);
  }
  .icon_like:hover .core {
    transition: fill 0.3s linear;
    fill: var(--color-text);
  }
  .icon_like:hover .main {
    transition: fill 0.3s linear 0.05s;
    fill: var(--color-text);
  }
  .icon_like.is-liked .core {
    transition: fill 0.3s linear;
    fill: var(--color-like);
  }
  .icon_like.is-liked .main {
    transition: fill 0.3s linear 0.05s;
    fill: var(--color-like);
  }
  .icon_like.is-liked .around {
    transition: fill 0.3s linear 0.06s;
    fill: var(--color-like);
  }
  .icon_like.is-liked .heart {
    animation: heart 0.3s ease-in 0.1s 1 alternate;
  }
  .icon_like.is-liked .sparks {
    animation: sparks 0.3s ease-in 0.3s 1 alternate;
  }
  @keyframes heart {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.5);
    }
  }
  @keyframes sparks {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

